.header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    min-height: 75px;
}
.brand {
    height: 69px;
    margin-top: 3px;
}

.main-nav {
    position: absolute;
    width: 100%;
    min-height: 75px;
    position: fixed !important;
    z-index: 1000;
    top: 0;
    background: #FFF;
    overflow: hidden;
    border: 0;
    border-radius: 0 !important;
    -webkit-box-shadow: 0px 5px 11px rgba(50, 50, 50, 0.08);
    box-shadow: 0px 5px 11px rgba(50, 50, 50, 0.08);
}

.custom-nav {
    font-size: 16px;
    margin-top: 12px;
    padding: 5px;
}

.custom-nav li{
    text-align: center;
}

.custom-nav a{
    color: black !important;
}

.custom-nav a:hover{
    color: #e96656 !important;
}

.current:before {
    background: none repeat scroll 0 0 #e96656;
    bottom: 0;
    content: "";
    height: 2px;
    left: 25%;
    margin: auto;
    position: absolute;
    width: 50%;
}

.current > a {
    color: #e96656 !important;
    
}

.navbar {
    border: 0 !important;
}

.realisations {
    background: none repeat scroll 0 0 #ffffff;
    overflow: hidden;
    padding-top: 75px;
    padding-bottom: 50px;
}

.section-titre {
    padding-bottom: 20px;
    text-align: center;
}


.rea-icone {
text-align: center;
}

.rea-icone img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.img-circle:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

.circle-contour {
    border:solid 10px #314dbd;
    padding: 20px;
    display: inline-block;
    -moz-border-radius-topleft:50%;
    -moz-border-radius-topright:50%;
    -moz-border-radius-bottomleft:50%;
    -moz-border-radius-bottomright:50%;
    -webkit-border-top-left-radius:50%;
    -webkit-border-top-right-radius:50%;
    -webkit-border-bottom-left-radius:50%;
    -webkit-border-bottom-right-radius:50%;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.circle-contour:hover {
    border:solid 10px #e96656;
}

.titre-under {
    padding-bottom: 25px;
    border-bottom: solid 4px #314dbd;
    width: 70%;
    margin-left: 15%;
}

.separation {
    background: none repeat scroll 0 0 rgba(233, 102, 86, 0.6);
    padding-top: 50px;
    padding-bottom: 50px;
}

.separation-text {
    color: white;
    text-align: center;
}

.separation-text p{
    padding-bottom: 20px;
}

.entreprise {
    background: none repeat scroll 0 0 #ffffff;
    overflow: hidden;
    padding-top: 75px;
    padding-bottom: 50px;
}

.galerie {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gal-item{
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.img-mask {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 10px;
    left: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    transition: all 0.25s ease 0s;
    font-size: 0.7em;
    padding-top: 35%;
}

.gal-item span {
    display: block;
    margin: auto;
    position: relative;
}

.gal-item img {
    width: 100% !important;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;  
}

.img-title{ font-weight: bold; word-wrap: break-word; padding-bottom: 5px;}

.img-descr { font-size: 0.7em; padding-top: 20px; color: #BBB; word-wrap: break-word;}

.galerie li div{
    opacity: 0;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;   
}

.galerie li:hover div{ opacity: 1; cursor: pointer; }

.galerie li:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);   
}

.img-title:before{
    background: none repeat scroll 0 0 #e96656;
    bottom: -9px;
    content: "";
    height: 2px;
    left: 25%;
    margin: auto;
    position: absolute;
    width: 50%;
    z-index: 1;
}

.entreprise{
     background: none repeat scroll 0 0 #272727;
    color: #fff;
    padding-bottom: 100px;
}
.titre-section {
    color: white;
    font-size: 4em;
}

.section-header {
    text-align: center;
}

.soustitre-section {
    color: #DDD;
    font-size: 1.5em;
    padding-bottom: 40px;
}

.acc-phrase {
    font-size: 4.2em;
    text-align: right;
}

.entreprise-desc {
    color: #bbb;
    font-size: 1.1em;
    padding-top: 5px;
}

.icone-entreprise {
    border-radius: 50%; 
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    border: 6px solid #999999;
    color: #299a0b;
    font-size: 3em;
    padding-top: 5px;
    margin-right: 10px;
}

.skill-title {
    float: left;
    color: white;
    font-size: 1.7em;
    
}

.skill-space {
    margin-bottom: 9%;
}



@media (max-width: 1200px) {
    .acc-phrase {
        font-size: 3.9em;
    }
    .skill-space {
    margin-bottom: 20%;
    }
}


@media (max-width: 992px) {
    .acc-phrase {
        text-align: center;
    }
    .skill-space {
    margin-bottom: 10px;
    }
}
.contact {
    background:  none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
    padding-top: 75px;
    text-align: center
}

.vertical-space {
    margin-bottom: 25px;
}

textarea::-webkit-input-placeholder,input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999 !important;
    font-weight: bold;
}
textarea:-moz-placeholder,input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999 !important;
   opacity:  1;
   font-weight: bold; 
}
textarea::-moz-placeholder ,input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999 !important;
   opacity:  1;
   font-weight: bold; 
}
textarea:-ms-input-placeholder,input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999 !important;
    font-weight: bold;
}

input:focus:invalid, textarea:focus:invalid{
    border: 1px solid #f00;
    -moz-box-shadow: 0px 0px 3px 2px #d45252;
    -webkit-box-shadow: 0px 0px 3px 2px #d45252;
    -o-box-shadow: 0px 0px 3px 2px #d45252;
    box-shadow: 0px 0px 3px 2px #d45252;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#d45252, Direction=NaN, Strength=5);
    background: #fff url(../images/bad.jpg) 98% center no-repeat;
    background-size: 13px;
}

input:focus:valid, textarea:focus:valid{
    border: 1px solid #56c93f;
    -moz-box-shadow: 0px 0px 3px 2px #56c93f;
    -webkit-box-shadow: 0px 0px 3px 2px #56c93f;
    -o-box-shadow: 0px 0px 3px 2px #56c93f;
    box-shadow: 0px 0px 3px 2px #56c93f;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#56c93f, Direction=NaN, Strength=5);
    background: #fff url(../images/good.jpg) 98% center no-repeat;
    background-size: 13px;
}

.textarea-box {
    border: 0 none;
    display: inline-block;
    min-height: 250px;
    padding: 9px 9px 9px 15px;
    text-align: left;
    text-transform: none;
}

.custom-button {
    color: white;
    border: medium none;
    border-radius: 4px;
    display: inline-block !important;
    text-align: center;
    width: 130px;
    height: 38px;
    text-transform: uppercase;
    margin-right: 15px;
    background: none repeat scroll 0 0 #e96656;
}

.custom-button:hover {
    background: none repeat scroll 0 0 #E65443;
}

.footer-section {
    background: none repeat scroll 0 0 #272727;
    padding-top: 50px;
    padding-bottom: 50px;
}

.icone-top {
    font-size: 2.5em;
}

footer {
    text-align: center;
}

.red-text {
    color: #e96656;
}

.green-text {
    color: #34d293;
}

.blue-text {
    color: #3ab0e2;
}

.accueil {
    padding-top: 300px;
    text-align: center;
}

.section-home {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    min-height: 700px;
}

.accueil-titre {
    text-align: center;
    margin-top: 250px;
}

.white-text {
    color: white;
}

.big-text {
    font-size: 5em;
}

.construction {
    width: 30%;
    margin-top: 40px;
}


.aff-realisation {
    background: #bbb url(../images/cloth_alike.png);
    height: 600px;
    -moz-box-shadow: inset 0px 0px 10px 3px #656565;
    -webkit-box-shadow: inset 0px 0px 10px 3px #656565;
    -o-box-shadow: inset 0px 0px 10px 3px #656565;
    box-shadow: inset 0px 0px 10px 3px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
}
