.header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    min-height: 775px;
}
.brand {
    height: 69px;
    margin-top: 3px;
}

.main-nav {
    position: absolute;
    width: 100%;
    min-height: 75px;
    position: fixed !important;
    z-index: 1000;
    top: 0;
    background: #FFF;
    overflow: hidden;
    border: 0;
    border-radius: 0 !important;
    -webkit-box-shadow: 0px 5px 11px rgba(50, 50, 50, 0.08);
    box-shadow: 0px 5px 11px rgba(50, 50, 50, 0.08);
}

.custom-nav {
    font-size: 16px;
    margin-top: 12px;
    padding: 5px;
}

.custom-nav>li.active:before {
    background: none repeat scroll 0 0 #e96656;
    bottom: 0;
    content: "";
    height: 2px;
    left: 25%;
    margin: auto;
    position: absolute;
    width: 50%;

}

.navbar {
    border: 0 !important;
}

.realisation {
    background: none repeat scroll 0 0 #ffffff;
    overflow: hidden;
    padding-top: 100px;
}

.section-titre {
    padding-bottom: 75px;
    text-align: center;
}
