.header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    min-height: 775px;
}
.brand {
    height: 69px;
    margin-top: 3px;
}

.main-nav {
    position: absolute;
    width: 100%;
    min-height: 75px;
    position: fixed !important;
    z-index: 1000;
    top: 0;
    background: #FFF;
    overflow: hidden;
    border: 0;
    border-radius: 0 !important;
    -webkit-box-shadow: 0px 5px 11px rgba(50, 50, 50, 0.08);
    box-shadow: 0px 5px 11px rgba(50, 50, 50, 0.08);
}

.custom-nav {
    font-size: 16px;
    margin-top: 12px;
    padding: 5px;
}

.custom-nav li{
    text-align: center;
}

.custom-nav a{
    color: black !important;
}

.custom-nav a:hover{
    color: #e96656 !important;
}

.current:before {
    background: none repeat scroll 0 0 #e96656;
    bottom: 0;
    content: "";
    height: 2px;
    left: 25%;
    margin: auto;
    position: absolute;
    width: 50%;
}

.current > a {
    color: #e96656 !important;
    
}

.navbar {
    border: 0 !important;
}

.realisations {
    background: none repeat scroll 0 0 #ffffff;
    overflow: hidden;
    padding-top: 75px;
    padding-bottom: 100px;
}

.section-titre {
    padding-bottom: 75px;
    text-align: center;
}


.rea-icone {
text-align: center;
}

.rea-icone img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.img-circle:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

.circle-contour {
    border:solid 10px #314dbd;
    padding: 20px;
    display: inline-block;
    -moz-border-radius-topleft:50%;
    -moz-border-radius-topright:50%;
    -moz-border-radius-bottomleft:50%;
    -moz-border-radius-bottomright:50%;
    -webkit-border-top-left-radius:50%;
    -webkit-border-top-right-radius:50%;
    -webkit-border-bottom-left-radius:50%;
    -webkit-border-bottom-right-radius:50%;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.circle-contour:hover {
    border:solid 10px #e96656;
}

.titre-under {
    padding-bottom: 25px;
    border-bottom: solid 4px #314dbd;
    width: 70%;
    margin-left: 15%;
}

.separation {
    background: none repeat scroll 0 0 rgba(233, 102, 86, 0.6);
    padding: 100px;
}

.separation-text {
    color: white;
    text-align: center;
}

.separation-text p{
    padding-bottom: 20px;
}

.entreprise {
    background: none repeat scroll 0 0 #ffffff;
    overflow: hidden;
    padding-top: 75px;
    padding-bottom: 100px;
}




.galerie {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gal-item>img{
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.gal-item>img:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
    cursor: pointer;
}

.gal-item{
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.img-mask {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 10px;
    left: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    transition: all 0.25s ease 0s;
    vertical-align: bottom;
    font-size: 0.7em;
}

.img-mask:hover {
    opacity: 1;
}

.img-title {
    display: inline-block;
    bottom: 0;
}
